
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .masonry-grid {
    column-count: 1;
    column-gap: 1.5rem;
  }

  @media (min-width: 640px) {
    .masonry-grid {
      column-count: 2;
    }
  }

  @media (min-width: 1024px) {
    .masonry-grid {
      column-count: 3;
    }
  }

  .masonry-grid-videos {
    column-count: 2;
    column-gap: 1.5rem;
  }

  @media (min-width: 768px) {
    .masonry-grid-videos {
      column-count: 3;
    }
  }

  @media (min-width: 1024px) {
    .masonry-grid-videos {
      column-count: 4;
    }
  }

  .masonry-grid-item {
    break-inside: avoid;
    margin-bottom: 1.5rem;
  }
}
